<h1>Welcome to Graduate Goals</h1>
<form action="/login" method="POST">
    <fieldset>
        <legend>Login:</legend>
        <input type="text" name="username" placeholder="Username" require><br>
        <input type="password" name="password" placeholder="Password" require><br><br>
        <input type="submit" value="Sign In">
    </fieldset>
</form>