<h1>Create account</h1>

<form action="/signup" method="POST">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" name="submit" value="submit">
</form>