<h1>Create Account</h1>
<form action="/signup" method="POST">
<fieldset>
    <legend>Sign Up:</legend>
    <input type="text" name="username" placeholder="Username"><br>
    <input type="password" name="password" placeholder="Password"><br><br>
    <input id="button" type="submit" value="Submit">
</fieldset>
</form>