<%# Display two users and their goals %>
<h2>You are in the indexs erb bruh!!!</h2>
<div> 
    <h3>  <%User.all.each do |acc|%></h3>
        <ul>
            <li><%=acc.username%>'s his goals are something <%=acc.goals%></li>
        </ul>
        <%end%>

</div>