<h1>People's Goals</h1>
        <div id="post">
    <%@goals.each do |goal|%>
        <%if !(User.find(goal.user_id).username).empty? %>
            <ul>
                <li> <strong><%=User.find(goal.user_id).username%>'s</strong> created 
                <a id="goals-link" href="/goals/<%=goal.id%>" title="Click Here"><%=goal.job%></a></li>
            </ul>
        <%end%>
    <%end%>
        </div>

    
