You are createing a new goal

<form action="/goals" method="POST">
 <fieldset>
        <legend>Create Goal:</legend>
        <input type="text" name="job" placeholder="Goal name" require><br>
        <textarea type="textarea" name="description" placeholder="description of your goal" require></textarea><br><br>
        <input type="submit" value="Add Goal">
</fieldset>
</form>