<h1>You are createing a new goal</h1>
<form action="/goals" method="POST">
 <fieldset>
        <legend>Create Goal:</legend>
        <input type="text" name="job" placeholder="Goal name" require><br>
        <textarea type="textarea" rows="6" cols="50" name="description" placeholder="Description of your goal" require></textarea><br><br>
        <input id="button" type="submit" value="Add Goal">
</fieldset>
</form>